<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{38,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>game_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,41}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>game_skill_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_image.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ed7b50c54cb38cd1c112d7bb1841efd$</string>
            <key>textureFileName</key>
            <string>add_image.png</string>
        </dict>
    </dict>
</plist>
