<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_efx00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,200},{175,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,100}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>cc_efx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{175,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,100}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>cc_efx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{158,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,148}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>cc_efx11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{154,148}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{154,148}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>cc_efx12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,152},{152,142}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,142}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>cc_efx20.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,296},{58,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>cc_efx21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,296},{64,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>cc_efx22.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,296},{58,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>cc_efx23.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,408},{56,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>cc_efx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,377},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>role_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,162},{118,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,111}}</string>
                <key>sourceSize</key>
                <string>{118,111}</string>
            </dict>
            <key>shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{194,196}}</string>
                <key>sourceSize</key>
                <string>{196,198}</string>
            </dict>
            <key>skill_up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,408},{100,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,109}}</string>
                <key>sourceSize</key>
                <string>{100,109}</string>
            </dict>
            <key>skill_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{160,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,129}}</string>
                <key>sourceSize</key>
                <string>{160,129}</string>
            </dict>
            <key>x_t_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,296},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cc_efx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261ecf643eefc6e89a034403c586cb13$</string>
            <key>textureFileName</key>
            <string>cc_efx.png</string>
        </dict>
    </dict>
</plist>
