<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,136},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>cj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>cj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{130,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,40}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>cj_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,270},{130,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,40}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>cj_jl0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,303},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,43}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>cj_jl0_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>cj_jl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,224},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,43}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>cj_jl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,303},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,43}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>cj_jl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{138,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{152,36}</string>
            </dict>
            <key>cj_jl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{24,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>cj_jl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,482},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>cj_jl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{97,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,18}}</string>
                <key>sourceSize</key>
                <string>{97,18}</string>
            </dict>
            <key>cj_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,3}}</string>
                <key>sourceSize</key>
                <string>{271,3}</string>
            </dict>
            <key>cj_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,134},{88,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cj.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a035283cf6df6bc51c438661d2fb274e$</string>
            <key>textureFileName</key>
            <string>cj.png</string>
        </dict>
    </dict>
</plist>
